@font-face {
    font-family: Courier Prime;
    src:url(../assets/fonts/CourierPrime-Regular.7503a2e9660bb6f608fb.ttf)
}

@font-face {
    font-family: Poppins;
    src:url(../assets/fonts/Poppins-Regular.35d26b781dc5fda684cc.ttf)
}

h1, h2, h3, p, li {
    color: #fff;
}


body{
  padding: 0;
  margin: 0;
  font-family: futuraMedium;
  font-weight: lighter;
  overflow-x: hidden;
  background: #000;
}

iframe {
    padding-left: 5px;
}

#loading{
    position: fixed;
    top: 40vh;
    z-index:1000;
    text-align: center;
    display: none;
}

#gestureVid {
    padding-top: 10px;
}

a {
   text-decoration: none;
   color: #fff;
}
/* you can reference the wrapping div */
#can {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
    background: #000;
}
/* ...and the canvas inside it */
#can > canvas {
  padding: 0;
  margin: 0;
  position: relative;
}

#p5_loading{
    display:none;
}

#navSplash {
  height: 50px;
  opacity: 1;
  z-index: 1;
  position: absolute;
}

#navHeader{
 color: #000;
}

#nav {
  height: 50px;
  width: 100vw;
  background-color: rgb(41,46,55);
  z-index: 1;
  position: fixed;
  top: 0px;
}

#navSplash h1, #nav h1{
  font-size: 28px;
  padding-left: 10px;
  top:-11px;
  color: rgb(255,255,255);
  opacity: 1;
  transition: font-size 1.5s, top 1.8s;
}

#navSplash h1{
  position: relative;
  width:100%;
}

#nav h1{
  position: absolute;
}

#herotext h1{
   color: rgb(255,255,255);
  opacity: 1;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

#herotext {
  z-index: 1;
  position: absolute;
}

.fadeOut{
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 0;
}

#herotext h2{
  color: rgb(255,255,255);
  font-size: 15px;
  padding: 2px 20px 10px 10px;
  margin: 0px;
  transition: font-size 0.5s;
}




@media screen and (min-width: 931px){

    #loading{
        left: 45vw;
    }
    #content div{
        width: 40%;
    }

    #content #development{
        width: 80%;
    }

    #development img {
        width: 60%;
        padding-left: 4vw;
    }


    #content #about{
       font-size: 3vw;
       padding: 60px 0 0 60px;
       margin-bottom: 100px;
    }
    #content h1 {
    font-size: 2vw;
    }
    #smallNav, #smallNavWork{
        display:none;
    }

    #content #development h2{
       font-size: 3vw;
        padding-left: 4vw;
    }

    #contentWork div{
        width: 70vw;
    }

    #contentWork div{
        top: -30px;
    }

    #contentWork p{
        font-size:1.2em;
    }
    #menuOverlay{
        display: none;
    }
  }

@media screen and (max-width: 930px){
    #development img {
        width: 80%;
        padding-left: 4vw;
    }

   #content #development{
        width: 80%;
    }

    #loading{
        left: 45vw;
    }
    #navMain, #navMainWork {
        display: none;
    }
    #content #about{
       font-size: 3vw;
        padding: 190px 0 90px 60px;
    }
    #content div{
        width: 40%;
    }

    #content h1 {
    font-size: 3vw;
        padding: 30px 0 0 0;
    }

    #smallNav{
        width: 100%;
        position: fixed;
        top: 0px;
        display: block;
    }

    #smallNavWork{
        width: 100%;
        top: 0px;
        display: block;
    }

    #content #development h2{
        font-size: 3vw;
        padding-left: 4vw;
    }

    #contentWork div{
        width: 93vw;
    }

    #contentWork div{
        top: -40px;
    }

    #contentWork p{
        font-size:1.1em;
    }
    #menuOverlay{
        z-index: 100;
        background: #fff;
        display:none;
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100vh;
    }
    #menuOverlay ul{
        font-size: 400%;
        margin: auto;
        width: 80vw;
        padding-top:20%;
    }
    #menuOverlay li{
        position: inline-block;
        list-style: none;
    }

     #menuOverlay a{
       position: relative;
       top: 10px;
       left: 10px;
    }
  }

@media screen and (max-width: 800px){
    #development img {
        width: 80%;
        padding-left: 4vw;
    }


    #loading{
        left: 40vw;
    }
    #content div{
        width:80%;
    }
    #content #about{
       font-size: 5vw;
       padding: 130px 0 20px 48px;
    }
    #content h1 {
    font-size: 5vw;
        padding: 30px 0 0 0;
    }
     #smallNav{
        width: 100%;
        position: fixed;
        top: 0px;
        display: block;
    }

    #smallNavWork{
        width: 100%;
        top: 0px;
        display: block;
    }

    #content #development h2{
        font-size: 4.5vw;
        padding-left: 4vw;
    }

    #contentWork div{
       width: 88vw;
    }

    #contentWork div{
        top: -40px;
    }
  }


#hide01{
  display: none;
  opacity:0.1;
}

#hide02{
  display: none;
  opacity:0.1;
}

#containerSplash{
    display:flex;
    padding: 0 0 100px 0;

}

#container{
    display:flex;
    padding: 51px 0 100px 0;
}

#smallNavWork{
   height: 35px;
   color: #fff;
   z-index: 10;
}

#smallNav{
    background: #fefefe;
    display: none;
    height: 50px;
    color: #fff;
}

#smallNav img, #smallNavWork img{
    padding: 12px 0 0 10px;
}

#smallNav h3, #smallNavWork h3{
    position: absolute;
    display: inline;
    left: 55px;
    top: -4px;
}

#navMain{
    flex:0 0 65%
    margin-bottom: 50px;

}

#navMain ul{
    list-style: none;
    font-size: 2em;
    width: 250px;
}

#navMain #activeNav, #navMainWork #activeNav{
    padding-bottom: 2px;
    padding-top: 4px;
    float: left;
    clear: both;
    width:0;
    -webkit-transition: width 1s;
    transition: width 1s;
    font-size: 0.8em;
}

#currentNav{
    padding-bottom: 2px;
    padding-top: 2px;
    float: left;
    clear: both;
    border-bottom: 1.8px solid #fff;
    width:64%;
    font-size: 0.8em;
}

#navMain #activeNav:hover{
    width:64%;
}

#activeNav {
    border-bottom: 3px dotted #fff;
}


#content{
    padding: 20px 0 0 0px;
    flex:1;
}

#content div{
    display: inline-block;
    padding: 0 20px 0 40px;
}



#content #about{
    width:78%;
}

#content #development{
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 25vh;
}



#content h1{
    padding-top: 60px;
}

#content #development h2{
    padding: 4px 4px 4px 4vw;
    margin: 0;
}

#content #development #email{
    margin-bottom: 40px;
}

#contentWork div{
    display: inline-block;
    margin: 0 0 0 30px;
    position: relative;
    max-width: 900px
}

#contentWork img{
    width:80%;
    padding-left: 5px;
}


#contentWork p{
    width:83%;
    padding:0 0 10px 1px;
    max-width: 700px;
}

#navMainWork{
    flex:0 0 65%
    margin-bottom: 50px;
    position: relative;
    top: -38px;
}

#navMainWork ul{
    list-style: none;
    font-size: 2em;
    width: 190px;
}

#navMainWork li:hover{
    width:64%;
}

.contentimg{
    width:99%;
    }

#contentWork .play{
 width: 25%;
 margin-left: 8px;

}

#canvasOverlay{
    position:fixed;
    left:0;
    top:0;
    z-index: 97;
    opacity: 0;
    width:100vw;
    height:100vh;
    display: none;
    transition: opacity 0.3s;
    animation: 1.5s ease-out 0s 1 opacityFade;
}

#canvasOverlay #can{
    z-index: 5;
    display: none;
}

#menuOverlay a{
    color: #000;
}

#l2r {
    margin: 0;
    position: relative;
    top: -20px;
}

.decon {
    padding-bottom: 9px;
}

.back{
/*    list-style-image: url("../assets/backArrowStraight.png");*/
    list-style: none;
    margin-left: 20px;
    position: relative;
    top: -30px;
    font-size: 0.8em;
}

.backButt{
    background-image: url("../assets/backArrowStraight.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
    padding-top: 10px;
}

#smallback{
    list-style: none;
    margin:10px 0 0 -30px;
    font-size: 1.5em;
}

#scrollWords{
  width: 100vw;
  position: absolute;
  z-index:100;
 font-size: 1.2em;
  top: 68%;
    display: none;

}

#scrollWords h2{
    margin: auto;
    width: 185px;
    padding-left: 20px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  bottom: 80%;

}

#icon-scroll-id {
    top: 105%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
/*  margin-top: 50%;*/
  box-shadow: inset 0 0 0 2.5px #000;
  border-radius: 25px;
  z-index: 100;
  display: none;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 46px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}
